{{#if widgetContext.displayMap}} 
<div id="{{widgetContext.widgetID}}-search-results-map" class="search-map">
    <p>Geographic Results for: <strong>{{searchString}}</strong></p>
    <div id="{{widgetContext.widgetID}}-search-map_canvas" style="width:
    {{widgetContext.mapWidth}}; height:200px"></div>
</div>  
{{/if}}
<div class="list-results-section">
<p>List Results for: <strong>{{searchString}}</strong>
<div class="list-results">
<ul>
{{#each place}}
<li id="{{this.widgetID}}-place-{{this.pleiadesID}}" class="link {{this.feature_type}}">{{this.label}}</li>
{{/each}}
</ul>
</div>
</div>